header>img{
  height: 20%;
  width: 20%;
}

header>a>img{
  float: right;
  height: 2%;
  width: 2%;
  margin-top: 80px;
  margin-right: 50px;
}

nav{
  width: 100%;
  background-color: #333;
  text-align: center;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 10px;
}

nav ul li{
  display: inline-block;
  padding: 0;
}

nav ul li a{
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 11px 50px;
}

nav ul li a:hover{
  background-color: #666;
}

article{
  width: 70%;
  padding-top: 10px;
  padding-right: 3%;
  float: left;
}

article img{
  width: 100%;
}

aside{
  width: 27%;
  float: left;
}

aside ul{
    background-color: #333;
    padding: 20px;
}

aside ul li{
  color: white;
  padding-bottom: 25px;
  list-style: none;
}

aside ul li:before{
  content: "- ";
}

hr{
  clear: both;
}

section{
  float: left;
  width: 30%;
  margin-right: 3%;
}

section figure{
  padding: 0;
  margin: 0;
}

section figure img{
  width: 100%;
}

section figure figcaption{
 font-weight: bold;
 font-style: italic;
}

section a{
  float: right;
  text-decoration: none;
}

footer{
  width: 100%;
  background-color: #333;
  text-align: center;
  border-top: solid 5px #666;
  clear: both;
}

footer ul{
  list-style: none;
  margin: 0;
  padding: 10px;
}

footer ul li{
  display: inline-block;
  padding: 0;
}

footer ul li a{
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 12px 50px;
}

footer ul li a:hover{
  background-color: #666;
}
